.container1 {
    background-image:url(.../foto/The-Elder-Scrolls-V-Skyrim.jpg); background-size: cover;
    height: 720px;

}.row { 
    display: inline-flex;
    margin-top: 10px;
    background-color: #8080802b;
    width: 100%;
    justify-content: center;
}

.card {
    border: 0px;
}

.col-sm-3 {
    width: 20%;

}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: transparent;
}
